version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      main:
        patterns:
          - "*"
    commit-message:
      prefix: "TECH Dependabot [github-actions] "

  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "TECH Dependabot [composer] "
