<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 1999-2014. Parallels IP Holdings GmbH. -->
<phpunit colors="true" bootstrap="autoload.php">
    <testsuites>
        <testsuite>
            <file>ApiClientTest.php</file>
            <file>CertificateTest.php</file>
            <file>CustomerTest.php</file>
            <file>DatabaseServerTest.php</file>
            <file>EventLog.php</file>
            <file>IpTest.php</file>
            <file>LocaleTest.php</file>
            <file>ResellerTest.php</file>
            <file>SecretKeyTest.php</file>
            <file>ServerTest.php</file>
            <file>SessionTest.php</file>
            <file>UiTest.php</file>
            <file>UserTest.php</file>
            <file>WebspaceTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
