<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="autoload.php">
    <testsuites>
        <testsuite>
            <file>CertificateTest.php</file>
            <file>CustomerTest.php</file>
            <file>LocaleTest.php</file>
            <file>ResellerTest.php</file>
            <file>ServerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
